{% extends 'layouts/master.html' %} 

{% block title %}
    Department - List
{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
{% endblock %}
{% block content %}
<div class="container mt-5">
    {% include "partials/_message.html" %}
    <h1>This is department index</h1>
    <hr>
    <a href="{% url 'dep-add' %}" class="btn btn-primary">Add</a>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Department</th>
                <th>Short Name</th>
                <th>Status</th>
                <th colspan="3">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for val in data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ val.department_name }}</td>
                <td>{{ val.short_name }}</td>
                <td>{{ val.status }}</td>
                <td><a href="{% url 'dep-edit' val.id %}"><i class="fa-solid fa-user-pen"></i></a></td>
                <td><a href="{% url 'dep-delete' val.id %}"><i class="fa-solid fa-trash"></i></a></td>
                <td><a href="{% url 'dep-show' val.id %}"><i class="fa-solid fa-eye"></i></a></td>
            </tr>
            {% endfor %}
        
        </tbody>
    </table>

    </hr>
</div>
{% endblock %}