{% extends 'layouts/master.html' %} 

{% block title %}
    Salary - Edit
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>This is Salary edit page</h1>
    <a href="{% url 'salary-index' %}" class="btn btn-primary">Back</a>
    <hr>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form action="{% url 'salary-update' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ data.id }}">
                <!-- <div class="form-group mb-2">
                    <label for="" class="mb-2">Employee Name: </label>
                    <input type="text" class="form-control" name="department_name" value="{{ data.department_name }}">
                </div> -->
                <div class="form-group mb-2">
                    <label for="" class="mb-2">Salary Amount: </label>
                    <input type="number" class="form-control" name="salary_amount" value="{{ data.salary_amount }}">
                </div>
                <div class="form-group mb-2">
                    <label for="" class="mb-2">Bonus Amount: </label>
                    <input type="number" class="form-control" name="bonus_amount" value="{{ data.bonus_amount }}">
                </div>
                <div class="form-group mb-2">
                    <label for="" class="mb-2">Allowance: </label>
                    <input type="number" class="form-control" name="allowance" value="{{ data.allowance }}">
                </div>
                <div class="form-group mb-2">
                    <label for="" class="mb-2">TDS in percent: </label>
                    <input type="number" class="form-control" name="tds_in_percent" value="{{ data.tds_in_percent }}">
                </div>
                <div class="form-group mb-2">
                    <label for="" class="mb-2">Start Date: </label>
                    <input type="date" class="form-control" name="start_date" value="{{ data.start_date }}">
                </div>
                <div class="form-group mb-2">
                    <label for="" class="mb-2">End Date: </label>
                    <input type="date" class="form-control" name="end_date" value="{{ data.end_date }}">
                </div>
                <div class="form-group mb-2">
                    <label for="" class="mb-2">Status: </label>
                    <input type="text" class="form-control" name="status" value="{{ data.status }}">
                </div>
                <input type="submit" value="UPDATE" class="btn btn-primary">
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}