{% extends 'layouts/master.html' %} 

{% block title %}
    Salary - List
{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
{% endblock %}
{% block content %}
<div class="container mt-5">
    {% include "partials/_message.html" %}
    <h1>This is salary index</h1>
    <hr>
    <a href="{% url 'salary-add' %}" class="btn btn-primary">Add</a>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Employee</th>
                <th>Salary Amount</th>
                <th>Bonus Amount</th>
                <th>Allowance</th>
                <th>TDS in percent</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th colspan="3">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for val in data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ val.employee }}</td>
                <td>{{ val.salary_amount }}</td>
                <td>{{ val.bonus_amount }}</td>
                <td>{{ val.allowance }}</td>
                <td>{{ val.tds_in_percent }}</td>
                <td>{{ val.start_date }}</td>
                <td>{{ val.end_date }}</td>
                <td>{{ val.status }}</td>
                <td><a href="{% url 'salary-edit' val.id %}"><i class="fa-solid fa-user-pen"></i></a></td>
                <td><a href="{% url 'salary-delete' val.id %}"><i class="fa-solid fa-trash"></i></a></td>
                <td><a href="{% url 'salary-show' val.id %}"><i class="fa-solid fa-eye"></i></a></td>
            </tr>
            {% endfor %}
        
        </tbody>
    </table>

    </hr>
</div>
{% endblock %}