{% extends 'layouts/master.html' %} 

{% block title %}
    Salary - Details 
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>This Salary detail page</h1>
    <a href="{% url 'salary-index' %}" class="btn btn-primary">Back</a>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Department</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Department: {{ data.department_name }}</li>
          <li class="list-group-item">Short Name: {{ data.short_name }}</li>
          <li class="list-group-item">Status: {{ data.status }}</li
        </ul>
      </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
{% endblock %}